<div class="tournament-grid">
    <h2>@Tournament.TournamentName</h2>
    <p>@Tournament.EntrantCount Entrants </p>
    <p>@Tournament.GuildName</p>
    <p>Registration Window: @Tournament.RegistrationStart.ToLocalString() to @Tournament.RegistrationEnd.ToLocalString()</p>
    <p>
        <a class="btn btn-primary" href="/tournaments/@Tournament.TournamentId">See Registrants</a>
        @if(!string.IsNullOrWhiteSpace(Tournament.RulesLink))
        {
            <a class="btn btn-info" href="@Tournament.RulesLink">Rules Doc</a>
        }
    </p>
</div>

@code {
    [Parameter]
    public TournamentSummary Tournament { get; set; } = new();
}
