<div class="tournament-summary">
    <h2>@Tournament.TournamentName</h2>
    <h4>@Tournament.GuildName</h4>
    <p>@Tournament.EntrantCount Entrants </p>
    
    <p>@RegistrationStatus()</p>

    @if(HasOpenedRegistration() || HasRulesLink())
    {
        <p>
            <div class="button-row">
                @if(HasOpenedRegistration())
                {
                    <a class="btn btn-primary" href="/tournaments/@Tournament.TournamentId">Registrants</a>
                }
                
                @if(HasRulesLink())
                {
                    <a class="btn btn-info" href="@Tournament.RulesLink">Rules Doc</a>
                }
            </div>
        </p>
    }
</div>

@code {
    [Parameter]
    public TournamentSummary Tournament { get; set; } = new();

    public string RegistrationStatus()
    {
        if(DateTimeOffset.UtcNow < Tournament.RegistrationStart) return $"Registration Opens {Tournament.RegistrationStart.ToLocalString()}";

        if(DateTimeOffset.UtcNow > Tournament.RegistrationEnd) return "Registration Closed";

        return "Registration Open";
    }

    public bool HasRulesLink() => !string.IsNullOrWhiteSpace(Tournament.RulesLink);

    public bool HasOpenedRegistration() => !RegistrationStatus().StartsWith("Registration Opens");
}
